{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

<h2>Welcome to Longboxes!</h2>
<p class="lead">{{=T('Your online comic collection.')}}</p>

<!--Display 5 largest boxes-->
{{if len(largest_boxes)>0:}}
{{=H5("Largest public boxes:")}}
{{for box in largest_boxes:}}
{{=P(box.box.name, ' (', box._extra['COUNT(comic_in_box.box_id)'], ' comics)')}}
{{pass}}
{{else:}}
{{=H5("There are no large public boxes to display")}}
{{pass}}

<!--Display 5 newest boxes-->
{{if len(newest_boxes)>0:}}
{{=H5("Newest public boxes:")}}
{{for box in newest_boxes:}}
{{=P(box.name, ' (Created: ', box.created_on, ')')}}
{{pass}}
{{else:}}
{{=H5("There are no new public boxes to display")}}
{{pass}}

{{block right_sidebar}}
<!--
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div>
-->
{{end}}
