{{extend 'layout.html'}}
<!--<div class="flash">{{=response.flash or ''}}</div>-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>All comics</h3>
  </div>
  <div class="panel-body">
    Here you can see all comics from across your collection at once, displayed in alphabetical order.
  </div>
</div>

{{if ('comics' in globals()):}}
  <div class="row">
    {{for comic in comics:}}
      {{include 'sub/comic_preview.html'}}
    {{pass}}
  </div>
{{else:}}
  <div class="alert alert-danger" role="alert">
    <strong>You don't have any comics yet.</strong>
    <a href="{{=URL('comic','new')}}" class="alert-link">Click here</a> to create your first comic!
    {{pass}}
  </div>
{{pass}}
