{{extend 'layout.html'}}
<!--<div class="flash">{{=response.flash or ''}}</div>-->
<!--Display 5 largest boxes-->
<h1>Your comics:</h1>
{{if ('boxes' in globals()):}}
  {{for box in boxes:}}
  {{if (len(comics[box.box.id])>0):}}
    <h2><a href={{=URL('box', 'view', args=[box.box.id])}}>{{=box.box.name}}</a></h1>
    <h5>by {{=box.auth_user.screen_name}}</h5>
    <strong>Created on:</strong> {{=box.box.created_on}}</br>
    <strong>Privacy:</strong>
    {{if (box.box.is_public):}}
      Public
    {{else:}}
      Private
    {{pass}}
        <h4>Contents:</h4>
        <div class="row">
          {{for comic in comics[box.box.id]:}}
            {{include 'sub/comic_preview.html'}}
          {{pass}}
        </div>
  {{pass}}
  {{pass}}
{{else:}}
  {{=H5("There is no box to display")}}
{{pass}}
<a href={{=URL('collection', 'index')}} class="btn btn-default">Back to collection</a>
