{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        <h1>{{=response.title}}</h1>
      </div>
    </header>
{{end}}

<h2>Welcome to your personal Longbox!</h2>
<p class="lead">{{=T('Your online comic collection.')}}</p>

<!--Check if the user has any public boxes and display-->
{{if len(public_boxes)>0:}}
{{=H5("Your public comic boxes:")}}
{{for box in public_boxes:}}
{{=DIV(A(box.name, _href=URL('box','view', args=[box.id])))}}
{{pass}}
{{else:}}
{{=H5("You have no public boxes")}}
{{pass}}

<!--Don't need to check if empty as unfiled is always private-->
<h5>Your private comic boxes:</h5>
{{for box in private_boxes:}}
{{=DIV(A(box.name, _href=URL('box','view', args=[box.id])))}}
{{pass}}

{{block right_sidebar}}
<!--
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div>
-->
{{end}}
