{{right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{'''block header'''}}
<!--    <header class="container-fluid background">
      <div class="jumbotron text-center">
        <h1>{{=response.title}}</h1>
      </div>
    </header> -->
{{'''end'''}}

<h2>Your personal Longbox</h2>
<!--<p class="lead"></p>-->

<div class="panel panel-default">
  <div class="panel-body">
    Your boxes are displayed below, seperated by their privacy settings. Click on a box to view its contents!
  </div>
</div>
<!--Check if the user has any public boxes and display-->
{{if len(public_boxes)>0:}}
  <h4>Your public comic boxes:</h4>
  <div class="row">
    {{for box in public_boxes:}}
      {{include 'sub/box_preview.html'}}
    {{pass}}
  </div>
{{else:}}
  <h5>You have no public boxes</h5>
{{pass}}

<!--Don't need to check if empty as unfiled is always private-->
<h4>Your private comic boxes:</h4>
<div class="row">
  {{for box in private_boxes:}}
    {{include 'sub/box_preview.html'}}
  {{pass}}
</div>

{{block right_sidebar}}
<!--
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div>
-->
{{end}}
