{{extend 'layout.html'}}
<h1>Comic Search</h1>
<!--<div class="flash">{{=response.flash or ''}}</div>-->
{{=form}}
</br>
{{if ('results' in globals()):}}
  {{if (len(results)>0):}}
    <h4>Search Results:</h4>
    <div style="display: inline-box">
    {{for result in results:}}
      <div style="display: inline-block">
        <!--Insert comic PREVIEW here-->
        <h3>{{=result.comic.title}}</h3>
        {{if (result.comic.cover):}}
          {{=IMG(_src=URL('default', 'download',  args=result.comic.cover), _width=100)}}
        {{else:}}
          {{=IMG(_src=URL('static', 'images',  args='no-cover.jpg'), _width=100)}}
        {{pass}}
        </br></br>
        <strong>Issue number:</strong> {{=result.comic.issue}}</br>
        <strong>Owner:</strong> {{=result.auth_user.screen_name}}</br>
        {{=A('Full information', _href=URL('comic','view', args=[result.comic.id]))}}
      </div>
    {{pass}}
    </div>
{{pass}}
</br>
<a href={{=URL('collection', 'index')}} class="btn btn-default">Go to collection</a>
</br>
</br>
