{{extend 'layout.html'}}

<h1>View comic:</h1>
<!--<div class="flash">{{=response.flash or ''}}</div>-->
<!--Display 5 largest boxes-->
{{if ('comics' in globals()):}}
    {{for comic in comics:}}
      <!--Full comic view-->
      <h2>{{=comic.title}}</h1>
      {{if (comic.cover):}}
        {{=IMG(_src=URL('default', 'download',  args=comic.cover), _width=150)}}
      </br></br>
      <strong>Issue number:</strong> {{=comic.issue}}</br>
      <strong>Writers:</strong> {{=comic.writers}}</br>
      <strong>Artists:</strong> {{=comic.artists}}</br>
      <strong>Publisher:</strong> {{=comic.publisher}}</br>
      {{if (comic.description):}}
        <strong>Description:</strong> {{=comic.description}}</br>
      {{pass}}
      {{pass}}
{{pass}}
{{else:}}
  {{=H5("There is no comic to display")}}
{{pass}}
</br>
{{=A('Return to collection', _href=URL('collection','index'))}}
