{{extend 'layout.html'}}

<h1>View comic:</h1>
<!--<div class="flash">{{=response.flash or ''}}</div>-->
<!--Display 5 largest boxes-->
{{if ('comics' in globals()):}}
    {{for comic in comics:}}
      <!--Full comic view-->
      <h2>{{=comic.comic.title}}</h2>
      {{if (comic.comic.cover):}}
        {{=IMG(_src=URL('default', 'download',  args=comic.comic.cover), _width=150)}}
      {{pass}}
      </br></br>
      <strong>Owner:</strong> {{=comic.auth_user.screen_name}}</br>
      <strong>Issue number:</strong> {{=comic.comic.issue}}</br>
      <strong>Writers:</strong>
      <ul>
      {{for writer in comic.comic.writers:}}
        <li>{{=writer}}</li>
      {{pass}}
      </ul>
        <strong>Artists:</strong>
      <ul>
      {{for artist in comic.comic.artists:}}
        <li>{{=artist}}</li>
      {{pass}}
      </ul>
      <strong>Publisher:</strong> {{=comic.comic.publisher}}</br>
      {{if (comic.comic.description):}}
        <strong>Description:</strong> {{=comic.comic.description}}</br>
      {{pass}}
    {{pass}}
    {{if (comic.comic.owner_id == auth.user.id):}}
    </br>
    <form action="{{=URL('comic', 'edit', args=[comic.comic.id])}}">
        <input type="submit" value="Edit Comic">
    </form>
    {{else:}}
    <form action="#">
      <input type="submit" value="Add to my collection">
    </form>
    {{pass}}
{{else:}}
  {{=H5("There is no comic to display")}}
{{pass}}
</br>
<input type="button" value="Go Back" onclick="history.back(-1)" />
</br>
</br>
