{{extend 'layout.html'}}
<!--<div class="flash">{{=response.flash or ''}}</div>-->
<!--Display 5 largest boxes-->
<h1>View box:</h1>
{{if ('boxes' in globals()):}}
  {{for box in boxes:}}
    <h2>{{=box.box.name}}</h1>
    <h5>by {{=box.auth_user.screen_name}}</h5>
    <strong>Created on:</strong> {{=box.box.created_on}}</br>
    <strong>Public box:</strong> {{=box.box.is_public}}</br>
      {{if (len(comics)>0):}}
        <h4>Box Contents:</h4>
        <div style="display: inline-box">
        {{for comic in comics:}}
          <div style="display: inline-block">
            <!--Insert comic PREVIEW here-->
            <h3>{{=comic.comic.title}}</h3>
            {{if (comic.comic.cover):}}
              {{=IMG(_src=URL('default', 'download',  args=comic.comic.cover), _width=100)}}
            {{else:}}
              {{=IMG(_src=URL('static', 'images',  args='no-cover.jpg'), _width=100)}}
            {{pass}}
            </br></br>
            <strong>Issue number:</strong> {{=comic.comic.issue}}</br>
            <strong>Owner:</strong> {{=comic.comic.owner_id}}</br>
            {{=A('Full information', _href=URL('comic','view', args=[comic.comic.id]))}}
          </div>
        {{pass}}
        </div>
      {{else:}}
      <h4>Box is empty!</h4>
      {{pass}}
    </br>
{{pass}}
{{else:}}
  {{=H5("There is no box to display")}}
{{pass}}
{{if ((box.box.owner_id == auth.user.id) & (box.box.name != 'Unfiled')):}}
<form action="{{=URL('box', 'edit', args=[box.box.id])}}">
    <input type="submit" value="Edit Box">
    <input type="button" value="Go Back" onclick="history.back(-1)" />
</form>
{{else:}}
<form action="#">
  <input type="button" value="Go Back" onclick="history.back(-1)" />
</form>
{{pass}}
</br>
</br>
