{{extend 'layout.html'}}
<h1>View box:</h1>
{{if ('boxes' in globals()):}}
  {{for box in boxes:}}
    <h2>{{=box.box.name}}</h1>
    <h5>by {{=box.auth_user.screen_name}}</h5>
    <strong>Created:</strong> {{=box.box.created_on}}</br>
    <strong>Privacy:</strong>
    {{if (box.box.is_public):}}
      Public
    {{else:}}
      Private
    {{pass}}
      {{if (len(comics)>0):}}
        <h4>Contents:</h4>
        <div class="row">
          {{for comic in comics:}}
            {{include 'sub/comic_preview.html'}}
          {{pass}}
        </div>
      {{else:}}
      <h4>Box is empty!</h4>
      {{pass}}
    <!--Display links to add a comic to, edit or delete the box, if the box belongs
    to user and isn't unfiled-->
    {{if auth.is_logged_in():}}
    {{if ((box.box.owner_id == auth.user.id) & (box.box.name != 'Unfiled')):}}
      </br>
      <div>
        <a href={{=URL('box','add', args=[box.box.id])}} class = "btn btn-primary">Add a comic</a>
        <a href={{=URL('box','edit', args=[box.box.id])}} class = "btn btn-default">Edit box</a>
        <a href={{=URL('box','delete', args=[box.box.id])}} class = "btn btn-default">Delete box</a>
      </div>
    {{pass}}
    {{pass}}
  {{pass}}
{{else:}}
  {{=H5("There is no box to display")}}
{{pass}}
</br>
<div>
  <a href="button" onclick="history.back(-1)" class="btn btn-default">Go back</a>
</div>
