{{extend 'layout.html'}}
{{if ('boxes' in globals()):}}
  {{for box in boxes:}}
    <div class="panel panel-default">
      <div class="panel-heading">
          <h2 title='Created: {{=str(box.box.created_on.strftime("%H:%M %d %h %y"))}}'>{{=box.box.name}}
            <span class="label label-default">
              {{if (box.box.is_public):}}
                Public
              {{else:}}
                Private
              {{pass}}
            </span>
          </h2>
          <h5>by {{=box.auth_user.screen_name}}</h5>
      </div>
      <!--Display controls to add a comic to, edit or delete the box, if the box belongs
      to user and isn't unfiled-->
      {{if auth.is_logged_in() and (box.box.owner_id == auth.user.id) and (box.box.name != 'Unfiled'):}}
      <div class="panel-body">
        <div class="btn-group" role="group">
          <a class="btn btn-primary", href={{=URL('box','add', args=[box.box.id])}}>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add comic</a>
          <a class="btn btn-default", href={{=URL('box','edit', args=[box.box.id])}}>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit box</a>
          <a class="btn btn-default", href={{=URL('box','delete', args=[box.box.id])}}>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete box</a>
        </div>
      </div>
      {{pass}}
    </div>
    {{if (len(comics)>0):}}
      <div class="row">
        {{for comic in comics:}}
          {{include 'sub/comic_preview.html'}}
        {{pass}}
      </div>
    {{else:}}
    <div class="alert alert-danger" role="alert">
      <strong>This box is empty.</strong>
      {{if auth.is_logged_in() and (box.box.owner_id == auth.user.id) and (box.box.name != 'Unfiled'):}}
      <a href="{{=URL('comic','new')}}" class="alert-link">Create a comic</a> and select this box as its destination or
      <a href="{{=URL('box','add', args=[box.box.id])}}" class="alert-link">add an existing comic</a>!</a>
      {{pass}}
    </div>
    {{pass}}
  {{pass}}
{{else:}}
  {{=H5("There is no box to display")}}
{{pass}}
